
nav {
    position: relative;
}

.navigation {
    top: 0;
    padding-bottom: 12px;
    padding-left: 12px;
    width: 100%;
    box-shadow: 0 4px 7px -3px black;
    min-width: 1200px;
    background: white;
    z-index: 10;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: fixed;
}


.home {
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 80px;
    padding-right: 45px;
    float: left;
    font-size: 24px;
    margin-top: 11px;
}

.logo {
    width: 60px;
    height: 60px;
    float: left;
}
.home-img {
    position: absolute;
    top: 8px;
    left: -10px;
}
nav {
    font-family: 'Noto Sans JP', sans-serif;
}

.dws-menu {
    margin-top: 20px;
    padding: 0;
    margin-left: 30px;
}

.dws-menu ul,
.dws-menu ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dws-menu > ul {
    display: flex;
    margin-left: 30px;
}

.dws-menu > ul li a {
    display: block;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-left: 13px;
}

.dws-menu > ul li{
    position: relative;
}

.dws-menu li a:hover {
    background: black;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
}

.block1:hover ~ .block2 {background: black; box-shadow: 1px 5px 10px -5px black;}

/*Submenu*/

.dws-menu li ul {
    position: absolute;
}

.dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: white;
    min-width: 170px;
    border: 1px solid black;
}

.dws-menu li > ul li a:first-child {
    border-left: 1px solid black;
}

.dws-menu li > ul li ul {
    position: absolute;
    top: 0;
    left: 191px;
}


.dws-menu .submenu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.dws-menu ul li:hover .submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    display: block;
}

.submenu {
    position: absolute;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.dws-menu .submenu2 {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.dws-menu ul li > ul li:hover .submenu2 {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    display: block;
    opacity: 100;
}

.submenu2 {
    position: absolute;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    opacity: 0;
}

